# Core web framework
fastapi
uvicorn[standard]

# HTTP client
httpx

# GraphQL client
gql[all]==3.5.0

# Requests is optional pip install -r requirements.txt

requests==2.31.0

# Env management
python-dotenv==1.0.0

#pytest (in use while jobber api not available)
#if this version isnt available just go back to a different version and change this
pytest==8.4.1
